@import "tailwindcss";

@theme {
  --color-principal: #EA580C;
  --color-titulares: #9A3412;
  --color-acento:    #FED7AA;
  --color-fondo:     #FFF7ED;
  --color-texto:     #1C1917;

  --font-sans: var(--font-fira-sans), ui-sans-serif, system-ui, sans-serif;
}
